* {
  box-sizing: border-box;
}

/* ---------------------------------------------- */

/*Formulário de anúncio de produto*/

form input {
  font-size: 20px;
  padding-top: 20px;
  border: none;
  border-bottom: 2px solid #cccccc;
  background-color: transparent;
  width: 100%;
}

form input::-webkit-outer-spin-button, form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

form input[type="date"] {
  color: #808080;
}

form button {
  background-color: #e0e0e0;
  border: none;
  color: black;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0 9px 17px 0 rgba(0, 0, 0, 0.3), 0 7px 21px 0 rgba(0, 0, 0, 0.20);
  height: 40px;
  position: relative;
  top: 10px;
  float: none;
}

.left_aligned {
  margin-right: 80%;
  width: 20%;
}

.right_aligned {
  margin-left: 90%;
  width: 20%;
  margin-bottom: 1%;
}

.clear_button {
  background-color: #cccccc;
}

.element_container {
  background-color: #dddddd;
  color: #808080;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: 1% 2% 1% 2%;
  width: 95%;
}

.element_title {
  text-align: center;
  color: black;
}

table {
  border-collapse: collapse;
  background-color: white;
  width: 95%;
  vertical-align: middle;
}

table tr {
  height: auto;
  border: 2px solid #eeeeee;
  line-height: 140%;
}

table td {
  padding-left: 1%;
  padding-bottom: 2px;
  padding-top: 2px;
}

#title_row {
  line-height: 200%;
  color: #000;
}

.table_filter_container {
  padding-right: 17%;
}

.table_filter_icon {
  width: 20px;
  height: 20px;
  margin-top: 10px;
}

.clean {
  background-color: #cccccc;
}

.container {
  display: block;
  position: relative;
  padding-top: 22px;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 20px;
  display: inline-block;
  padding-right: 40px;
}

/* Esconde o checkbox padrão do navegador */

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.radio {
  position: absolute;
  top: 20px;
  left: 0;
  height: 25px;
  width: 25px;
  border: 2px solid #cccccc;
}

/* Muda o fundo do checkbox quando passar o mouse por cima */

.container:hover input~.radio {
  background-color: #ccc;
}

/* Muda o fundo do checkbox quando o usuário marca o checkbox */

.container input:checked~.radio {
  background-color: #808080;
}

/* Cria o marcador que indica que o checkbox está assinalado */

.radio:after {
  content: "";
  position: absolute;
  display: none;
}

/* Exibe o indicador de selecionado quando o usuário clica no checkbox */

.container input:checked~.radio:after {
  display: block;
}

/* Estiliza o indicador de selecionado  */

.container .radio:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* ---------------------------------------------- */

/* Float four columns side by side */

.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */

.row {
  margin: 0 -5px;
  padding: 10px 0px;
}

/* Clear floats after the columns */

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  height: 382px;
}

/* On mouse-over, add a deeper shadow */

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */

.card_container {
  padding: 2px 16px;
}

.card_img {
  max-height: 210px;
  max-width: 100%;
}

.card_icon {
  height: 12%;
  width: 12%;
  margin: 8%;
}

/* ------------------------------------------------------ */

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  background-color: #EEEEEE;
}

/* Fixed sidenav, full height */

.sidenav {
  height: 100%;
  width: 14%;
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #EEEEEE;
  overflow-x: hidden;
  padding-top: 20px;
  float: left;
  border-right:2px solid rgb(185, 185, 185);
}

/* Style the sidenav links and the dropdown button */

.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  color: #009688;
  border-bottom: 2px solid rgb(185, 185, 185);
}

/* On mouse-over */

.sidenav a:hover, .dropdown-btn:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background-color: #d4d4d4;
}

/* Main content */
.main {
  /* Same as the width of the sidenav */
  font-size: 20px;
  /* Increased text to enable scrolling */
  padding: 0px 10px;
  margin-left: 15%;				   
}

/* Add an active class to the active dropdown button */

.active {
  font-weight: bold;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */

.dropdown-container {
  display: none;
  background-color: #EEEEEE;
  padding-left: 8px;
}

.dropdown-subitem {
  font-size: 16px !important;
  right: 30% !important;
  color: black !important;
  border-bottom: 0px solid grey !important;
}
/* Optional: Style the caret down icon */

.fa-caret-down {
  float: right;
  padding-right: 8px;
}

/* Some media queries for responsiveness */

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

/* ------------------------------------------------------ */

/* Header */

header {
  background: #383838;
  border-top: 10px solid #2C2C2C;
  border-bottom: 1px solid #2C2C2C;
}

.wrap-header {
  width: 960px;
  position: relative;
  margin: 0px auto;
}

#logo {
  max-width: 130px;
}

/* CSS da logo e do título que ficam no cabeçalho da página */

.tittle {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  display: inline-block;
  height: 80px;
}

.title_text {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
}

.logo {
  height: 4%;
  width: 4%;
  float: left;
}

/* Estiliza o campo de busca do site */

.search-icon {
  height: 2%;
  width: 2%;
  float: left;
  margin-top: 1%;
}

.search-container {
  background-color: #fff;
  display: inline-block;
  color: black;
  text-decoration: none;
  font-size: 17px;
  width: 80%;
  margin-left: 1%;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 1%;
}

.search {
  font-size: 20px;
  padding-top: 20px;
  border: none;
  background-color: transparent;
  width: 100%;
  padding-left: 1%;
  float: left;
  width: 98%;
}

/* Rodapé da página */

.footer {
  background: #383838;
  bottom: 0;
  width: 100%;
  height: 85px;
  color: white;
  text-align: center;
  padding-top: 1.8%;
}