* {
  box-sizing: border-box;
}

/* ---------------------------------------------- */

/*Formulário de anúncio de produto*/

form input {
  font-size: 20px;
  padding-top: 20px;
  border: none;
  border-bottom: 2px solid #cccccc;
  background-color: transparent;
  width: 45%;
}

form input::-webkit-outer-spin-button, form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

form input[type="date"] {
  color: #808080;
}

form button {
  background-color: #e0e0e0;
  border: none;
  color: black;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0 9px 17px 0 rgba(0, 0, 0, 0.3), 0 7px 21px 0 rgba(0, 0, 0, 0.20);
  width: 13%;
  height: 40px;
  position: relative;
  left: 19%;
  top: 10px;
  float: none;
}

.right_aligned {
  position: relative;
}

.element_container {
  background-color: #dddddd;
  color: #808080;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: 1% 2% 1% 2%;
  max-width: 83%;
  position: relative;
}

.title_text {
  text-align: center;
  color: black;
}

table {
  border-collapse: collapse;
  background-color: white;
  width: 83%;
  vertical-align: middle;
}

table tr {
  height: auto;
  border: 2px solid #eeeeee;
  line-height: 140%;
}

table td {
  padding-left: 1%;
  padding-bottom: 2px;
  padding-top: 2px;
}

#title_row {
  line-height: 200%;
  color: #000;
}

.clean {
  background-color: #cccccc;
}

.container {
  display: block;
  position: relative;
  padding-top: 22px;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 20px;
  display: inline-block;
  padding-right: 40px;
}

/* Esconde o checkbox padrão do navegador */

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.radio {
  position: absolute;
  top: 20px;
  left: 0;
  height: 25px;
  width: 25px;
  border: 2px solid #cccccc;
}

/* Muda o fundo do checkbox quando passar o mouse por cima */

.container:hover input~.radio {
  background-color: #ccc;
}

/* Muda o fundo do checkbox quando o usuário marca o checkbox */

.container input:checked~.radio {
  background-color: #808080;
}

/* Cria o marcador que indica que o checkbox está assinalado */

.radio:after {
  content: "";
  position: absolute;
  display: none;
}

/* Exibe o indicador de selecionado quando o usuário clica no checkbox */

.container input:checked~.radio:after {
  display: block;
}

/* Estiliza o indicador de selecionado  */

.container .radio:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* ---------------------------------------------- */

/* Float four columns side by side */

.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */

.row {
  margin: 0 -5px;
  padding: 10px 0px;
}

/* Clear floats after the columns */

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

/* On mouse-over, add a deeper shadow */

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */

.card_container {
  padding: 2px 16px;
}

/* Codigo também copiado */

header {
  background: #383838;
  border-top: 10px solid #2C2C2C;
  border-bottom: 1px solid #2C2C2C;
}

.wrap-header {
  width: 960px;
  position: relative;
  margin: 0px auto;
}

header #logo {}

#logo {
  max-width: 130px;
}

/* Código copiado de https://code.tutsplus.com/tutorials/making-a-sliding-side-navigation-menu-for-responsive-designs--cms-28400 */

/* The side navigation menu */

.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s
}

/* When you mouse over the navigation links, change their color */

.sidenav a:hover, .offcanvas a:focus {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

#main {
  transition: margin-left .5s;
  padding: 20px;
  overflow: hidden;
  width: 100%;
}

body {
  overflow-x: hidden;
  background-color: #eeeeee;
  color: #808080;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

/* Add a black background color to the top navigation */

.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

a svg {
  transition: all .5s ease;
  &:hover {
    #transform: rotate(180deg);
  }
}

#ico {
  display: none;
}

.menu {
  background: #000;
  display: none;
  padding: 5px;
  width: 320px;
  @include border-radius(5px);
  #transition: all 0.5s ease;
  a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 10px 2px;
    margin: 3px 0;
    text-decoration: none;
    background: #444;
    &:nth-child(1) {
      margin-top: 0;
      @include border-radius(3px 3px 0 0);
    }
    &:nth-child(5) {
      margin-bottom: 0;
      @include border-radius(0 0 3px 3px);
    }
    &:hover {
      background: #555;
    }
  }
}

/* CSS da logo e do título que ficam no cabeçalho da página */

.tittle {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  display: inline-block;
  height: 80px;
}

.title_text {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
}

.logo {
  height: 4%;
  width: 4%;
  float: left;
}

/* Estiliza o campo de busca do site */

.search-icon {
  height: 2%;
  width: 2%;
  float: left;
  margin-top: 1%;
}

.search-container {
  background-color: #fff;
  display: inline-block;
  color: black;
  text-decoration: none;
  font-size: 17px;
  width: 80%;
  margin-left: 1%;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 1%;
}

.search {
  font-size: 20px;
  padding-top: 20px;
  border: none;
  background-color: transparent;
  width: 100%;
  padding-left: 1%;
  float: left;
  width: 98%;
}

/* Rodapé da página */
.footer {
  background: #383838;
  bottom: 0;
  width: 100%;
  height: 85px;
  color: white;
  text-align: center;
  padding-top: 1.8%;
}