<!DOCTYPE html>
<meta charset="utf-8" />

<head>
    <link rel="stylesheet" href="../css/index.css">

    <title>Free Market</title>

</head>

<body>
    <header>
        <div>
            <img class="logo" id="logo" src="../assets/icone-menu.png" />
        </div>
        <div class="tittle">
            <p class="title_text">Free Market</p>
        </div>
        <div class="search-container">
            <img class="search-icon" id="search-icon" src="../assets/search_icon.png" />
            <input type="text" placeholder="Busque por um produto ou categoria" name="search" class="search">
        </div>
    </header>
    <div class="sidenav">
        <button class="dropdown-btn">Cozinha
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="#">Geladeira</a>
            <a href="#">Fogão</a>
        </div>
        <button class="dropdown-btn">Livros
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="#">Educacionais</a>
            <a href="#">Infantis</a>
        </div>
        <button class="dropdown-btn">Eletrônicos
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="#">Televisões</a>
            <a href="#">Celulares</a>
            <a href="#">Computadores</a>
        </div>
        <button class="dropdown-btn">Alimentos
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="#">Cereais</a>
            <a href="#">Bebidas</a>
            <a href="#">Enlatados</a>
        </div>
        <button class="dropdown-btn">Veículos
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="#">Carros</a>
            <a href="#">Motos</a>
        </div>
    </div>

    <script src="../scripts/index.js"></script>
    <br>
    <div class="main">
        <!-- Formulário de cadastro de produto -->
        <form class="element_container">
            <p class="element_title"><strong>Anunciar produto</strong></p>
            <div>
                <input id="product_name" type="text" placeholder="Nome do produto">
                <input id="product_description" type="text" placeholder="Descrição do produto">
            </div>
            <div>
                <input id="product_category" type="text" placeholder="Categoria do produto">
                <input id="product_price" type="number" placeholder="Preço do produto">
            </div>
            <div>
                <text>Estado do produto: </text>
                <label class="container">Usado
                    <input type="radio" name="estado_produto" id="product_state_used">
                    <span class="radio"></span>
                </label>
                <label class="container">Seminovo
                    <input type="radio" name="estado_produto" id="product_state_almost_new">
                    <span class="radio"></span>
                </label>
                <label class="container">Novo
                    <input type="radio" name="estado_produto" id="product_state_new">
                    <span class="radio"></span>
                </label>
            </div>
            <div class="left_aligned">
                <button type="button" class="button_right">Adicionar imagem</button>
            </div>
            <div class="right_aligned">
                <button type="reset" class="clear_button">Limpar</button>
                <button type="button" onclick="create()">Confirmar</button>
            </div>
        </form>
        <br>
        <!-- Tabela com os produtos anunciados -->

        <div>
            <table>
                <tr>
                    <!-- Inserir o chip e ícone de filtro aqui -->
                </tr>
                <tr id="title_row">
                    <th>Nome do produto</th>
                    <th>Descrição</th>
                    <th>Categoria</th>
                    <th>Estado</th>
                    <th>Preço</th>
                    <th>Status</th>
                </tr>
                <tr>
                    <td>Fogão à gás</td>
                    <td>Fogão à gás Brastemp</td>
                    <td>Cozinha</td>
                    <td>Usado</td>
                    <td>R$ 290,00</td>
                    <td>Em pausa</td>
                </tr>
                <tr>
                    <td>Fone de ouvido</td>
                    <td>Fones de ouvido Edifier</td>
                    <td>Eletrônicos</td>
                    <td>Novo</td>
                    <td>R$ 150,00</td>
                    <td>Anunciado</td>
                </tr>
                <tr>
                    <td>TV LED</td>
                    <td>TV LED 32' LG</td>
                    <td>Eletrônicos</td>
                    <td>Usado</td>
                    <td>R$ 899,99</td>
                    <td>Anunciado</td>
                </tr>
                <tr>
                    <td>CG 150</td>
                    <td>Moto CG 150 Cilindradas</td>
                    <td>Veículos</td>
                    <td>Seminovo</td>
                    <td>R$ 1000,00</td>
                    <td>Vendido</td>
                </tr>
            </table>
        </div>
        <br>
        <!-- Cards com os produtos -->
        <div class="element_container">
            <div class="element_title">
                <text class="element_title"><strong>Os mais populares da semana</strong></text>
                <a href=""><small style="vertical-align: top;"> Ver mais</small></a>
            </div>
            <div class="row">
                <div class="column">
                    <div class="card">
                        <img src="../assets/televisao.png" alt="Avatar" class="card_img">
                        <div class="card_container">
                            <h4><b>Televisão 4K</b></h4>
                            <img src="../assets/icons/216477_shopping_cart_icon.png" class="card_icon">
                            <img src="../assets/icons/save_icon.png" class="card_icon">
                            <img src="../assets/icons/sharesolid_icon.png" class="card_icon">
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <img src="../assets/ps5.png" alt="Avatar" class="card_img">
                        <div class="card_container">
                            <h4><b>PS5</b></h4>
                            <img src="../assets/icons/216477_shopping_cart_icon.png" class="card_icon">
                            <img src="../assets/icons/save_icon.png" class="card_icon">
                            <img src="../assets/icons/sharesolid_icon.png" class="card_icon">
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <img src="../assets/hometheater.png" alt="Avatar" class="card_img">
                        <div class="card_container">
                            <h4><b>Home Theater</b></h4>
                            <img src="../assets/icons/216477_shopping_cart_icon.png" class="card_icon">
                            <img src="../assets/icons/save_icon.png" class="card_icon">
                            <img src="../assets/icons/sharesolid_icon.png" class="card_icon">
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <img src="../assets/iphone.png" alt="Avatar" class="card_img">
                        <div class="card_container">
                            <h4><b>Iphone X</b></h4>
                            <img src="../assets/icons/216477_shopping_cart_icon.png" class="card_icon">
                            <img src="../assets/icons/save_icon.png" class="card_icon">
                            <img src="../assets/icons/sharesolid_icon.png" class="card_icon">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="column">
                    <div class="card">
                        <img src="../assets/geladeira.png" alt="Avatar" class="card_img">
                        <div class="card_container">
                            <h4><b>Geladeira Samsung</b></h4>
                            <img src="../assets/icons/216477_shopping_cart_icon.png" class="card_icon">
                            <img src="../assets/icons/save_icon.png" class="card_icon">
                            <img src="../assets/icons/sharesolid_icon.png" class="card_icon">
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <img src="../assets/chromecast.png" alt="Avatar" class="card_img">
                        <div class="card_container">
                            <h4><b>Chromecast</b></h4>
                            <img src="../assets/icons/216477_shopping_cart_icon.png" class="card_icon">
                            <img src="../assets/icons/save_icon.png" class="card_icon">
                            <img src="../assets/icons/sharesolid_icon.png" class="card_icon">
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <img src="../assets/notebook.png" alt="Avatar" class="card_img">
                        <div class="card_container">
                            <h4><b>Notebook Dell</b></h4>
                            <img src="../assets/icons/216477_shopping_cart_icon.png" class="card_icon">
                            <img src="../assets/icons/save_icon.png" class="card_icon">
                            <img src="../assets/icons/sharesolid_icon.png" class="card_icon">
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <img src="../assets/livro.jpg" alt="Avatar" class="card_img">
                        <div class="card_container">
                            <h4><b>O Senhor dos Anéis - Livro</b></h4>
                            <img src="../assets/icons/216477_shopping_cart_icon.png" class="card_icon">
                            <img src="../assets/icons/save_icon.png" class="card_icon">
                            <img src="../assets/icons/sharesolid_icon.png" class="card_icon">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<div>
    <p class="footer">Gabriel Kresin, Iago Giuseppe Tambosi e Johnny Andréas Schweder</p>
</div>

</html>