<!DOCTYPE html>
<meta charset="utf-8" />

<head>
    <link rel="stylesheet" href="../css/login.css">
    <script type="text/javascript" src="../scripts/login.js"></script>
</head>

<body>
    <div class="title">
        <p><strong>Faça seu login</strong></p>
    </div>
    <form>
        <div>
            <input type="text" id="user" placeholder="Usuário">
        </div>
        <div>
            <input type="password" id="password" placeholder="Senha">
        </div>
        <div>
            <label class="container">Lembrar de mim
                <input type="checkbox">
                <span class="checkbox"></span>
            </label>
        </div>
        <div>
            <button type="button" onclick="login()">LOGIN</button>
        </div>
    </form>
    <div class="hyperlink">
        <a href="">Esqueci minha senha</a>
    </div>
    <div class="hyperlink">
        <a href="cadastro.html">É novo por aqui? Faça já o seu cadastro e comece a anunciar agora mesmo</a>
    </div>
</body>

</html>